In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from util import get_data, plot_data
import indicators as ind

In [2]:
sd=dt.datetime(2010, 1, 1)
ed=dt.datetime(2011, 12, 31)

In [3]:
dates = pd.date_range(sd, ed)

In [4]:
dfStockPrice = get_data(['JPM'], dates, True, colname='Adj Close').drop(columns=['SPY'])

In [5]:
dfStockPriceNorm = dfStockPrice / dfStockPrice.iloc[0, :]
dfStockPrice = dfStockPrice.ffill().bfill()

dfStockPriceNorm.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2011-12-16', '2011-12-19', '2011-12-20', '2011-12-21',
               '2011-12-22', '2011-12-23', '2011-12-27', '2011-12-28',
               '2011-12-29', '2011-12-30'],
              dtype='datetime64[ns]', length=504, freq=None)

In [6]:
dates2 = dfStockPriceNorm.index

In [7]:
dates

DatetimeIndex(['2010-01-01', '2010-01-02', '2010-01-03', '2010-01-04',
               '2010-01-05', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10',
               ...
               '2011-12-22', '2011-12-23', '2011-12-24', '2011-12-25',
               '2011-12-26', '2011-12-27', '2011-12-28', '2011-12-29',
               '2011-12-30', '2011-12-31'],
              dtype='datetime64[ns]', length=730, freq='D')

In [8]:
dates2

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2011-12-16', '2011-12-19', '2011-12-20', '2011-12-21',
               '2011-12-22', '2011-12-23', '2011-12-27', '2011-12-28',
               '2011-12-29', '2011-12-30'],
              dtype='datetime64[ns]', length=504, freq=None)

In [9]:
lookback = 20
ema = ind.calculate_ema(dfStockPriceNorm, lookback)
ema

                 JPM
2010-01-04  1.000000
2010-01-05  1.010276
2010-01-06  1.015667
2010-01-07  1.024212
2010-01-08  1.028713
...              ...
2011-12-23  0.769023
2011-12-27  0.771073
2011-12-28  0.772067
2011-12-29  0.774713
2011-12-30  0.776734

[504 rows x 1 columns]

In [10]:
dates = dfStockPriceNorm.index
orders = pd.DataFrame(0, index=dates, columns=['position'])
orders

            position
2010-01-04         0
2010-01-05         0
2010-01-06         0
2010-01-07         0
2010-01-08         0
...              ...
2011-12-23         0
2011-12-27         0
2011-12-28         0
2011-12-29         0
2011-12-30         0

[504 rows x 1 columns]

In [11]:
for index, row in dfStockPriceNorm.iterrows():
    print (index)

2010-01-04 00:00:00
2010-01-05 00:00:00
2010-01-06 00:00:00
2010-01-07 00:00:00
2010-01-08 00:00:00
2010-01-11 00:00:00
2010-01-12 00:00:00
2010-01-13 00:00:00
2010-01-14 00:00:00
2010-01-15 00:00:00
2010-01-19 00:00:00
2010-01-20 00:00:00
2010-01-21 00:00:00
2010-01-22 00:00:00
2010-01-25 00:00:00
2010-01-26 00:00:00
2010-01-27 00:00:00
2010-01-28 00:00:00
2010-01-29 00:00:00
2010-02-01 00:00:00
2010-02-02 00:00:00
2010-02-03 00:00:00
2010-02-04 00:00:00
2010-02-05 00:00:00
2010-02-08 00:00:00
2010-02-09 00:00:00
2010-02-10 00:00:00
2010-02-11 00:00:00
2010-02-12 00:00:00
2010-02-16 00:00:00
2010-02-17 00:00:00
2010-02-18 00:00:00
2010-02-19 00:00:00
2010-02-22 00:00:00
2010-02-23 00:00:00
2010-02-24 00:00:00
2010-02-25 00:00:00
2010-02-26 00:00:00
2010-03-01 00:00:00
2010-03-02 00:00:00
2010-03-03 00:00:00
2010-03-04 00:00:00
2010-03-05 00:00:00
2010-03-08 00:00:00
2010-03-09 00:00:00
2010-03-10 00:00:00
2010-03-11 00:00:00
2010-03-12 00:00:00
2010-03-15 00:00:00
2010-03-16 00:00:00
2010-03-17 00:00:00
2010-03-18 00:00:00
2010-03-19 00:00:00
2010-03-22 00:00:00
2010-03-23 00:00:00
2010-03-24 00:00:00
2010-03-25 00:00:00
2010-03-26 00:00:00
2010-03-29 00:00:00
2010-03-30 00:00:00
2010-03-31 00:00:00
2010-04-01 00:00:00
2010-04-05 00:00:00
2010-04-06 00:00:00
2010-04-07 00:00:00
2010-04-08 00:00:00
2010-04-09 00:00:00
2010-04-12 00:00:00
2010-04-13 00:00:00
2010-04-14 00:00:00
2010-04-15 00:00:00
2010-04-16 00:00:00
2010-04-19 00:00:00
2010-04-20 00:00:00
2010-04-21 00:00:00
2010-04-22 00:00:00
2010-04-23 00:00:00
2010-04-26 00:00:00
2010-04-27 00:00:00
2010-04-28 00:00:00
2010-04-29 00:00:00
2010-04-30 00:00:00
2010-05-03 00:00:00
2010-05-04 00:00:00
2010-05-05 00:00:00
2010-05-06 00:00:00
2010-05-07 00:00:00
2010-05-10 00:00:00
2010-05-11 00:00:00
2010-05-12 00:00:00
2010-05-13 00:00:00
2010-05-14 00:00:00
2010-05-17 00:00:00
2010-05-18 00:00:00
2010-05-19 00:00:00
2010-05-20 00:00:00
2010-05-21 00:00:00
2010-05-24 00:00:00
2010-05-25 00:00:00
2010-05-26 00:00:00
2010-05-27 00:00:00
2010-05-28 00:00:00
2010-06-01 00:00:00
2010-06-02 00:00:00
2010-06-03 00:00:00
2010-06-04 00:00:00
2010-06-07 00:00:00
2010-06-08 00:00:00
2010-06-09 00:00:00
2010-06-10 00:00:00
2010-06-11 00:00:00
2010-06-14 00:00:00
2010-06-15 00:00:00
2010-06-16 00:00:00
2010-06-17 00:00:00
2010-06-18 00:00:00
2010-06-21 00:00:00
2010-06-22 00:00:00
2010-06-23 00:00:00
2010-06-24 00:00:00
2010-06-25 00:00:00
2010-06-28 00:00:00
2010-06-29 00:00:00
2010-06-30 00:00:00
2010-07-01 00:00:00
2010-07-02 00:00:00
2010-07-06 00:00:00
2010-07-07 00:00:00
2010-07-08 00:00:00
2010-07-09 00:00:00
2010-07-12 00:00:00
2010-07-13 00:00:00
2010-07-14 00:00:00
2010-07-15 00:00:00
2010-07-16 00:00:00
2010-07-19 00:00:00
2010-07-20 00:00:00
2010-07-21 00:00:00
2010-07-22 00:00:00
2010-07-23 00:00:00
2010-07-26 00:00:00
2010-07-27 00:00:00
2010-07-28 00:00:00
2010-07-29 00:00:00
2010-07-30 00:00:00
2010-08-02 00:00:00
2010-08-03 00:00:00
2010-08-04 00:00:00
2010-08-05 00:00:00
2010-08-06 00:00:00
2010-08-09 00:00:00
2010-08-10 00:00:00
2010-08-11 00:00:00
2010-08-12 00:00:00
2010-08-13 00:00:00
2010-08-16 00:00:00
2010-08-17 00:00:00
2010-08-18 00:00:00
2010-08-19 00:00:00
2010-08-20 00:00:00
2010-08-23 00:00:00
2010-08-24 00:00:00
2010-08-25 00:00:00
2010-08-26 00:00:00
2010-08-27 00:00:00
2010-08-30 00:00:00
2010-08-31 00:00:00
2010-09-01 00:00:00
2010-09-02 00:00:00
2010-09-03 00:00:00
2010-09-07 00:00:00
2010-09-08 00:00:00
2010-09-09 00:00:00
2010-09-10 00:00:00
2010-09-13 00:00:00
2010-09-14 00:00:00
2010-09-15 00:00:00
2010-09-16 00:00:00
2010-09-17 00:00:00
2010-09-20 00:00:00
2010-09-21 00:00:00
2010-09-22 00:00:00
2010-09-23 00:00:00
2010-09-24 00:00:00
2010-09-27 00:00:00
2010-09-28 00:00:00
2010-09-29 00:00:00
2010-09-30 00:00:00
2010-10-01 00:00:00
2010-10-04 00:00:00
2010-10-05 00:00:00
2010-10-06 00:00:00
2010-10-07 00:00:00
2010-10-08 00:00:00
2010-10-11 00:00:00
2010-10-12 00:00:00
2010-10-13 00:00:00
2010-10-14 00:00:00
2010-10-15 00:00:00
2010-10-18 00:00:00
2010-10-19 00:00:00
2010-10-20 00:00:00
2010-10-21 00:00:00
2010-10-22 00:00:00
2010-10-25 00:00:00
2010-10-26 00:00:00
2010-10-27 00:00:00
2010-10-28 00:00:00
2010-10-29 00:00:00
2010-11-01 00:00:00
2010-11-02 00:00:00
2010-11-03 00:00:00
2010-11-04 00:00:00
2010-11-05 00:00:00
2010-11-08 00:00:00
2010-11-09 00:00:00
2010-11-10 00:00:00
2010-11-11 00:00:00
2010-11-12 00:00:00
2010-11-15 00:00:00
2010-11-16 00:00:00
2010-11-17 00:00:00
2010-11-18 00:00:00
2010-11-19 00:00:00
2010-11-22 00:00:00
2010-11-23 00:00:00
2010-11-24 00:00:00
2010-11-26 00:00:00
2010-11-29 00:00:00
2010-11-30 00:00:00
2010-12-01 00:00:00
2010-12-02 00:00:00
2010-12-03 00:00:00
2010-12-06 00:00:00
2010-12-07 00:00:00
2010-12-08 00:00:00
2010-12-09 00:00:00
2010-12-10 00:00:00
2010-12-13 00:00:00
2010-12-14 00:00:00
2010-12-15 00:00:00
2010-12-16 00:00:00
2010-12-17 00:00:00
2010-12-20 00:00:00
2010-12-21 00:00:00
2010-12-22 00:00:00
2010-12-23 00:00:00
2010-12-27 00:00:00
2010-12-28 00:00:00
2010-12-29 00:00:00
2010-12-30 00:00:00
2010-12-31 00:00:00
2011-01-03 00:00:00
2011-01-04 00:00:00
2011-01-05 00:00:00
2011-01-06 00:00:00
2011-01-07 00:00:00
2011-01-10 00:00:00
2011-01-11 00:00:00
2011-01-12 00:00:00
2011-01-13 00:00:00
2011-01-14 00:00:00
2011-01-18 00:00:00
2011-01-19 00:00:00
2011-01-20 00:00:00
2011-01-21 00:00:00
2011-01-24 00:00:00
2011-01-25 00:00:00
2011-01-26 00:00:00
2011-01-27 00:00:00
2011-01-28 00:00:00
2011-01-31 00:00:00
2011-02-01 00:00:00
2011-02-02 00:00:00
2011-02-03 00:00:00
2011-02-04 00:00:00
2011-02-07 00:00:00
2011-02-08 00:00:00
2011-02-09 00:00:00
2011-02-10 00:00:00
2011-02-11 00:00:00
2011-02-14 00:00:00
2011-02-15 00:00:00
2011-02-16 00:00:00
2011-02-17 00:00:00
2011-02-18 00:00:00
2011-02-22 00:00:00
2011-02-23 00:00:00
2011-02-24 00:00:00
2011-02-25 00:00:00
2011-02-28 00:00:00
2011-03-01 00:00:00
2011-03-02 00:00:00
2011-03-03 00:00:00
2011-03-04 00:00:00
2011-03-07 00:00:00
2011-03-08 00:00:00
2011-03-09 00:00:00
2011-03-10 00:00:00
2011-03-11 00:00:00
2011-03-14 00:00:00
2011-03-15 00:00:00
2011-03-16 00:00:00
2011-03-17 00:00:00
2011-03-18 00:00:00
2011-03-21 00:00:00
2011-03-22 00:00:00
2011-03-23 00:00:00
2011-03-24 00:00:00
2011-03-25 00:00:00
2011-03-28 00:00:00
2011-03-29 00:00:00
2011-03-30 00:00:00
2011-03-31 00:00:00
2011-04-01 00:00:00
2011-04-04 00:00:00
2011-04-05 00:00:00
2011-04-06 00:00:00
2011-04-07 00:00:00
2011-04-08 00:00:00
2011-04-11 00:00:00
2011-04-12 00:00:00
2011-04-13 00:00:00
2011-04-14 00:00:00
2011-04-15 00:00:00
2011-04-18 00:00:00
2011-04-19 00:00:00
2011-04-20 00:00:00
2011-04-21 00:00:00
2011-04-25 00:00:00
2011-04-26 00:00:00
2011-04-27 00:00:00
2011-04-28 00:00:00
2011-04-29 00:00:00
2011-05-02 00:00:00
2011-05-03 00:00:00
2011-05-04 00:00:00
2011-05-05 00:00:00
2011-05-06 00:00:00
2011-05-09 00:00:00
2011-05-10 00:00:00
2011-05-11 00:00:00
2011-05-12 00:00:00
2011-05-13 00:00:00
2011-05-16 00:00:00
2011-05-17 00:00:00
2011-05-18 00:00:00
2011-05-19 00:00:00
2011-05-20 00:00:00
2011-05-23 00:00:00
2011-05-24 00:00:00
2011-05-25 00:00:00
2011-05-26 00:00:00
2011-05-27 00:00:00
2011-05-31 00:00:00
2011-06-01 00:00:00
2011-06-02 00:00:00
2011-06-03 00:00:00
2011-06-06 00:00:00
2011-06-07 00:00:00
2011-06-08 00:00:00
2011-06-09 00:00:00
2011-06-10 00:00:00
2011-06-13 00:00:00
2011-06-14 00:00:00
2011-06-15 00:00:00
2011-06-16 00:00:00
2011-06-17 00:00:00
2011-06-20 00:00:00
2011-06-21 00:00:00
2011-06-22 00:00:00
2011-06-23 00:00:00
2011-06-24 00:00:00
2011-06-27 00:00:00
2011-06-28 00:00:00
2011-06-29 00:00:00
2011-06-30 00:00:00
2011-07-01 00:00:00
2011-07-05 00:00:00
2011-07-06 00:00:00
2011-07-07 00:00:00
2011-07-08 00:00:00
2011-07-11 00:00:00
2011-07-12 00:00:00
2011-07-13 00:00:00
2011-07-14 00:00:00
2011-07-15 00:00:00
2011-07-18 00:00:00
2011-07-19 00:00:00
2011-07-20 00:00:00
2011-07-21 00:00:00
2011-07-22 00:00:00
2011-07-25 00:00:00
2011-07-26 00:00:00
2011-07-27 00:00:00
2011-07-28 00:00:00
2011-07-29 00:00:00
2011-08-01 00:00:00
2011-08-02 00:00:00
2011-08-03 00:00:00
2011-08-04 00:00:00
2011-08-05 00:00:00
2011-08-08 00:00:00
2011-08-09 00:00:00
2011-08-10 00:00:00
2011-08-11 00:00:00
2011-08-12 00:00:00
2011-08-15 00:00:00
2011-08-16 00:00:00
2011-08-17 00:00:00
2011-08-18 00:00:00
2011-08-19 00:00:00
2011-08-22 00:00:00
2011-08-23 00:00:00
2011-08-24 00:00:00
2011-08-25 00:00:00
2011-08-26 00:00:00
2011-08-29 00:00:00
2011-08-30 00:00:00
2011-08-31 00:00:00
2011-09-01 00:00:00
2011-09-02 00:00:00
2011-09-06 00:00:00
2011-09-07 00:00:00
2011-09-08 00:00:00
2011-09-09 00:00:00
2011-09-12 00:00:00
2011-09-13 00:00:00
2011-09-14 00:00:00
2011-09-15 00:00:00
2011-09-16 00:00:00
2011-09-19 00:00:00
2011-09-20 00:00:00
2011-09-21 00:00:00
2011-09-22 00:00:00
2011-09-23 00:00:00
2011-09-26 00:00:00
2011-09-27 00:00:00
2011-09-28 00:00:00
2011-09-29 00:00:00
2011-09-30 00:00:00
2011-10-03 00:00:00
2011-10-04 00:00:00
2011-10-05 00:00:00
2011-10-06 00:00:00
2011-10-07 00:00:00
2011-10-10 00:00:00
2011-10-11 00:00:00
2011-10-12 00:00:00
2011-10-13 00:00:00
2011-10-14 00:00:00
2011-10-17 00:00:00
2011-10-18 00:00:00
2011-10-19 00:00:00
2011-10-20 00:00:00
2011-10-21 00:00:00
2011-10-24 00:00:00
2011-10-25 00:00:00
2011-10-26 00:00:00
2011-10-27 00:00:00
2011-10-28 00:00:00
2011-10-31 00:00:00
2011-11-01 00:00:00
2011-11-02 00:00:00
2011-11-03 00:00:00
2011-11-04 00:00:00
2011-11-07 00:00:00
2011-11-08 00:00:00
2011-11-09 00:00:00
2011-11-10 00:00:00
2011-11-11 00:00:00
2011-11-14 00:00:00
2011-11-15 00:00:00
2011-11-16 00:00:00
2011-11-17 00:00:00
2011-11-18 00:00:00
2011-11-21 00:00:00
2011-11-22 00:00:00
2011-11-23 00:00:00
2011-11-25 00:00:00
2011-11-28 00:00:00
2011-11-29 00:00:00
2011-11-30 00:00:00
2011-12-01 00:00:00
2011-12-02 00:00:00
2011-12-05 00:00:00
2011-12-06 00:00:00
2011-12-07 00:00:00
2011-12-08 00:00:00
2011-12-09 00:00:00
2011-12-12 00:00:00
2011-12-13 00:00:00
2011-12-14 00:00:00
2011-12-15 00:00:00
2011-12-16 00:00:00
2011-12-19 00:00:00
2011-12-20 00:00:00
2011-12-21 00:00:00
2011-12-22 00:00:00
2011-12-23 00:00:00
2011-12-27 00:00:00
2011-12-28 00:00:00
2011-12-29 00:00:00
2011-12-30 00:00:00

In [12]:
for day in range(len(dates)):
    print(day)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503

In [13]:
ema

                 JPM
2010-01-04  1.000000
2010-01-05  1.010276
2010-01-06  1.015667
2010-01-07  1.024212
2010-01-08  1.028713
...              ...
2011-12-23  0.769023
2011-12-27  0.771073
2011-12-28  0.772067
2011-12-29  0.774713
2011-12-30  0.776734

[504 rows x 1 columns]

In [14]:
dfStockPriceNorm

                 JPM
2010-01-04  1.000000
2010-01-05  1.019574
2010-01-06  1.024957
2010-01-07  1.045265
2010-01-08  1.042819
...              ...
2011-12-23  0.803523
2011-12-27  0.790555
2011-12-28  0.781502
2011-12-29  0.799853
2011-12-30  0.795938

[504 rows x 1 columns]

In [15]:
dfStockPriceNorm / ema

                 JPM
2010-01-04  1.000000
2010-01-05  1.009203
2010-01-06  1.009147
2010-01-07  1.020556
2010-01-08  1.013712
...              ...
2011-12-23  1.044863
2011-12-27  1.025266
2011-12-28  1.012221
2011-12-29  1.032451
2011-12-30  1.024724

[504 rows x 1 columns]

In [16]:
dfStockPriceNormCopy = dfStockPriceNorm.copy()
dfStockPriceNormCopy[ema > dfStockPriceNorm] = 1000

In [17]:
dfStockPriceNormCopy['JPM'].value_counts(bins=3)

(666.921, 1000.0]     260
(-0.237, 333.842]     244
(333.842, 666.921]      0
Name: JPM, dtype: int64

In [18]:
dfStockPriceNormCopy[ema < dfStockPriceNorm] = -1000

In [19]:
dfStockPriceNormCopy[ema == dfStockPriceNorm] = 0

In [20]:
dfStockPriceNormCopy

               JPM
2010-01-04     0.0
2010-01-05 -1000.0
2010-01-06 -1000.0
2010-01-07 -1000.0
2010-01-08 -1000.0
...            ...
2011-12-23 -1000.0
2011-12-27 -1000.0
2011-12-28 -1000.0
2011-12-29 -1000.0
2011-12-30 -1000.0

[504 rows x 1 columns]

In [21]:
dfStockPriceNormCopy['JPM'].value_counts(bins=3)

(333.333, 1000.0]        260
(-1002.001, -333.333]    243
(-333.333, 333.333]        1
Name: JPM, dtype: int64

In [22]:
dfStockPriceNormCopy[dfStockPriceNormCopy == -1000] = -1

In [23]:
dfStockPriceNormCopy[dfStockPriceNormCopy == 1000] = 1

In [24]:
dfStockPriceNormCopy['JPM'].value_counts(bins=3)

(0.333, 1.0]        260
(-1.003, -0.333]    243
(-0.333, 0.333]       1
Name: JPM, dtype: int64

In [25]:
for index, row in dfStockPriceNorm.iterrows():
    print(dfStockPriceNormCopy.loc[index][0])

0.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
-1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
-1.0
1.0
-1.0
1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
-1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
1.0
-1.0
-1.0
1.0
1.0
-1.0
1.0
1.0
-1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
-1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
-1.0
-1.0
1.0
-1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
-1.0
-1.0
1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
-1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
1.0
-1.0
-1.0
-1.0
1.0
-1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
1.0
1.0
1.0
-1.0
1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0

In [26]:
momentum = ind.calculate_momentum(dfStockPriceNorm, lookback).bfill()
momentum

                 JPM
2010-01-04 -0.053585
2010-01-05 -0.053585
2010-01-06 -0.053585
2010-01-07 -0.053585
2010-01-08 -0.053585
...              ...
2011-12-23  0.178751
2011-12-27  0.132492
2011-12-28  0.143164
2011-12-29  0.078878
2011-12-30  0.091611

[504 rows x 1 columns]

In [27]:
std = ind.calculate_std(dfStockPriceNorm, lookback)
sma = ind.calculate_sma(dfStockPriceNorm, lookback)
bbp, top_band, bottom_band = ind.calculate_BB_data(dfStockPriceNorm, lookback, sma, std)

In [28]:
momentum.ffill().bfill()

                 JPM
2010-01-04 -0.053585
2010-01-05 -0.053585
2010-01-06 -0.053585
2010-01-07 -0.053585
2010-01-08 -0.053585
...              ...
2011-12-23  0.178751
2011-12-27  0.132492
2011-12-28  0.143164
2011-12-29  0.078878
2011-12-30  0.091611

[504 rows x 1 columns]

In [29]:
momentum

                 JPM
2010-01-04 -0.053585
2010-01-05 -0.053585
2010-01-06 -0.053585
2010-01-07 -0.053585
2010-01-08 -0.053585
...              ...
2011-12-23  0.178751
2011-12-27  0.132492
2011-12-28  0.143164
2011-12-29  0.078878
2011-12-30  0.091611

[504 rows x 1 columns]

In [30]:
for index, row in dfStockPriceNorm.iterrows():
    print(momentum.bfill().loc[index][0])

-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.05358453633471982
-0.0777537796976242
-0.12676056338028174
-0.14489700374531833
-0.15626466447677134
-0.13794726930320145
-0.1060752169720347
-0.11821843165126744
-0.12854797091250303
-0.08279337652987762
-0.07485465116279089
-0.0688405797101449
-0.012671321437807026
0.04337349397590362
0.01711229946524062
0.06272157076629403
0.03331556503198296
0.06293149229952211
0.07431340872374803
0.050264550264550456
0.024043433298862604
0.040593286494925884
0.11645708037178792
0.11223651793046807
0.12513904338153514
0.11824139814309143
0.11084142394822005
0.1058570660934981
0.10578734858681016
0.07927786499215062
0.09374181722964137
0.07989623865110262
0.08564693556836045
0.07056710289966639
0.11777076761303906
0.10007698229407236
0.10575187000257924
0.07269547839120638
0.07243107769423562
0.0710327455919395
0.07775814188336283
0.07876969242310583
0.060235063663075294
0.07728279596357357
0.06969846762234311
0.06715506715506736
0.06603544549647955
0.07045675413022368
0.0662122687439144
0.10496969696969694
0.09312903998084732
0.04491952918568343
0.04559710494571778
0.05009587727708542
0.018579492003762965
-0.0034989503149054357
0.0011663167716353673
-0.023986958546809545
-0.05351717691049307
-0.023988711194732115
-0.015694542047317905
-0.05748725081131212
-0.03995381062355663
-0.07333790267306362
-0.05938077634011096
-0.10823798627002301
-0.11364153951263933
-0.0907852927825692
-0.09406392694063925
-0.12659060991662996
-0.14651773981603144
-0.12436781609195402
-0.12228887863405646
-0.14950924446473424
-0.13160932809974601
-0.15426029962546817
-0.10880708294501407
-0.12001908852302534
-0.08172839506172846
-0.1077108433734939
-0.08138981437410753
-0.07033939990162319
-0.11474621121000728
-0.06878698224852076
-0.08278064357651682
-0.07800872465999487
-0.09892086330935257
-0.09935097353969047
-0.10660282258064502
-0.08163777945239892
-0.06671798819604835
-0.06405880808611186
-0.03969505783385896
-0.012882447665056307
-0.023929805902685564
0.0354276224743979
-0.02954248366013068
-0.007592190889370909
-0.0013444474321053779
-0.019173642992168505
-0.024352331606217748
-0.026455026455026398
-0.03831521739130428
-0.0743976701085517
-0.07605784681306915
-0.04647926523796275
-0.009409751924721932
0.011086474501108556
0.02933709449929478
0.016137855579868576
0.030519659059664583
0.08583450210378696
0.056118258965234036
0.051930396954866564
0.015799509670389567
-0.0021384656508954825
0.021012931034482873
0.0038251366120218844
0.013193322563274101
0.0487334801762116
0.024163568773234223
0.0573369565217392
0.08957332579824806
0.09982837528604116
0.11652173913043495
0.16228838295388215
0.13068508923431188
0.08223684210526305
0.08139216223622903
0.040915208613728105
0.016008537886873064
-0.032291397571686975
-0.0637636080870917
-0.06539157405014218
-0.03834808259587019
-0.034556656844361155
-0.054353562005276856
-0.013881328252585923
-0.05793250066436351
-0.06747177736938825
-0.08555872439719969
-0.10999742996658934
-0.10165975103734437
-0.11391417425227579
-0.0913811007268952
-0.13912606730286292
-0.11481670061099791
-0.0858662613981761
-0.07526609224531156
-0.03129040599948285
-0.03860294117647067
-0.0013347570742124892
0.061738648947951225
0.05143805309734528
0.09648633575013932
0.08046614872364044
0.09347098214285698
0.08197626276566394
0.0806770098730607
0.10895270270270263
0.10036858519988656
0.10280103956107411
0.07938799076212466
0.11564426181391263
0.06771428571428562
0.08663943990665102
0.05637043428242716
0.00831255195344971
0.016990956426418125
-0.004538174052322486
0.036602021305654375
0.021117348302593042
-0.013298565840938581
-0.009994739610731274
-0.03255340793489325
-0.006676938880328609
-0.026537381985200392
-0.054336734693877564
-0.07152179587575047
-0.07133790302107146
-0.07008502963153829
-0.04477611940298509
-0.034501203530355684
-0.050249934227834636
-0.05030773347605022
-0.04375838926174502
-0.02150830383882385
-0.01291563616378133
-0.029102667744543287
-0.039152587825154295
-0.06745718050065885
-0.054450261780104814
0.007135306553911036
0.04144527098831041
0.01971608832807581
-0.012409513960703111
0.019397116644823242
0.033719989209603396
0.06634804610626932
0.04920721705850206
0.05098365198115795
0.028234649122807154
0.051800554016620426
0.04515235457063693
0.03888419273034649
0.011510387422796198
0.016694490818030205
-0.00027839643652571855
0.007493755203996644
-0.0005581914596706206
0.032212489403786515
0.042081949058693224
-0.004723169771713498
-0.025510204081632626
-0.0311936065996391
0.009162303664921323
0.004628439187451816
0.03522964509394577
0.04798312681254946
0.017717561229807055
0.015027682573161227
0.02132764596107717
0.00026336581511721135
0.013782136231115905
0.0648223487930566
0.12045517624202051
0.10262725779967163
0.1378446115288221
0.12396694214876036
0.13264451270594813
0.10676156583629881
0.07917109458023375
0.10018455048774055
0.10811518324607317
0.140234167110165
0.10609597924773029
0.07064243665216274
0.04865137383413143
0.051320754716981165
0.09728622631848438
0.1067532467532466
0.12372748629600605
0.12954186413902047
0.0954248366013073
0.0927152317880795
0.07530344315085458
0.0712335567138247
0.052618697993147334
0.056862745098039236
0.06582840236686383
0.056146425921345555
0.06056129985228953
0.05511622334052246
0.029293645168910976
0.017036172695449325
0.002345215759850028
0.04279225436289735
0.05408653846153855
0.03469729600382876
0.018198786747550155
0.04764139873269202
0.0362369337979096
0.04615384615384621
0.09665871121718395
0.06853146853146863
0.059894033632803545
0.021779425393883445
0.024412927226226566
0.020640074211502712
0.03516076798519552
0.04824355971896943
0.014623955431754876
-0.015671133318192032
0.013770943309616923
0.0011473152822396582
0.013570425830603527
0.01971572673085742
0.01778791334093488
0.009250693802035137
0.004812098991750835
-0.027329749103942702
-0.04147052230441606
-0.06417112299465233
-0.07051142546245937
-0.04341186736474689
-0.049337100630297615
-0.011564625850340127
-0.00794371311847486
-0.0038627584639853163
-0.01765363128491615
-0.015638963360143032
0.009151223976206824
0.027457314259344612
0.00045279601539505165
0.01833600733440277
0.03093259464450604
0.009217625899280657
0.028680259914855233
0.04674610449129246
0.02941847206385395
0.04007369875633349
0.05121608980355474
0.06119047619047624
0.014750643877312175
-0.013454960091220158
-0.031321444901691864
-0.01284698325303979
-0.017387325554792943
-0.01779197080291961
-0.022065514103730588
-0.012936904221516055
-0.005894355021536901
-0.007635302043566106
-0.004752206381534396
-0.020031510240828276
-0.008956560680698722
-0.023167743372688787
-0.05184055761272033
-0.049693520140105196
-0.040097474523704046
-0.03631532329495124
-0.05161290322580647
-0.04666816244110372
-0.040378403322565815
-0.04461396208969015
-0.0035402407363700483
-0.012781780153381384
-0.012572759022118962
-0.03460287970274056
-0.0460572226099093
-0.06162336169234306
-0.07092360319270241
-0.07422493776872596
-0.06230104592996799
-0.042949012402388576
-0.09060099412562117
-0.08551881413911067
-0.07971513898460836
-0.1002073255010365
-0.09416108931456268
-0.10546875
-0.07342247243725075
-0.06895740174158638
-0.03438326520798285
-0.029760464553593047
-0.07129322595926102
-0.08427495291902065
-0.0728601744871491
-0.06158287226365167
-0.038527188490612096
-0.038961038961039085
-0.05203730976926857
-0.06966511855292101
-0.06789524733268681
-0.08543316534677226
-0.03155279503105601
-0.015960099750623513
0.006490264603095319
0.01868919610855091
0.0020382165605095093
0.029283329052144813
0.00025316455696189344
-0.0333670374115268
-0.04880478087649387
-0.0418952618453865
-0.0020402958428971107
-0.003341902313624634
-0.017802644964394765
0.004101512432709731
0.007354805985290369
0.04563997960224375
0.05929570170895904
0.06227009984235399
0.04526534859521347
0.03489897664654951
0.012057465366855036
-0.006082108464267599
-0.027529761904761862
-0.02915305353103781
-0.016272565471650124
-0.08235587721487392
-0.07719564667172862
-0.13624476987447698
-0.07591623036649231
-0.1324830817282665
-0.09072323025811413
-0.10188289914882642
-0.07405489383738995
-0.10799080929282623
-0.10725075528700911
-0.16800780297488427
-0.18577364947445607
-0.19861488993321796
-0.16052762568442025
-0.11916835699797146
-0.12192648922686955
-0.10479347271800099
-0.06911502167814332
-0.06963499870566936
-0.05867149134143179
-0.042697851509382656
-0.07899067471201315
-0.01816530426884644
-0.04334277620396576
-0.025202520252025185
-0.12563237774030345
-0.09707064905226881
-0.11884787472035785
-0.08958214081282201
-0.07529610829103217
-0.04982415005861651
-0.054037826478535056
-0.03487654320987654
-0.12777942484435212
-0.18307426597582055
-0.17176674364896083
-0.1258900598120194
-0.1613698630136987
-0.17779632721201988
-0.1641954969796815
-0.17017045454545465
-0.1727218582489577
-0.08726487819919826
-0.10660349422564408
-0.024930747922437657
-0.034715525554484095
0.0050890585241729624
0.0028562361155188842
0.021062558943728327
-0.057334553217444406
-0.03763109191856884
-0.03649635036496357
0.028141989126958755
0.07239972807613859
0.14200140944326978
0.13942140118508184
0.10198761811665036
0.0702384841555046
0.13164128595600677
0.18955321944809467
0.2286888052036975
0.22390208783297338
0.08108108108108114
0.09081869406695375
0.0615530303030305
0.1065601065601065
0.05981012658227858
0.08417721518987342
-0.020012315270935943
0.036234228405046975
0.04358974358974366
0.0487483530961792
-0.004976671850699832
-0.024088748019017392
-0.07960506016661517
-0.0838176812480882
-0.1348314606741573
-0.1217948717948717
-0.16985645933014348
-0.23059928196630763
-0.20507105043187523
-0.17823529411764705
-0.05312499999999998
-0.09450015192950467
-0.059470710674992655
-0.013541980138429
-0.029262466407882992
-0.029188558085230576
-0.009739239710964465
0.013424914142990962
-0.03746928746928757
-0.03863065326633175
-0.036573929352922696
0.009093861643390655
0.04592691920885028
0.002671118530884975
0.07689678742310324
0.09906152241918664
0.1786743515850142
0.1787508973438623
0.13249211356466883
0.14316392269148182
0.0788778877887788
0.09161073825503374

In [31]:
for index, row in dfStockPriceNorm.iterrows():
    print(row[0])

1.0
1.0195742598482995
1.0249571813065819
1.0452654758991926
1.0428186934181551
1.0393931979447026
1.0149253731343284
1.0327868852459017
1.043063371666259
1.0195742598482995
1.0100318081722537
1.0129679471494983
0.9461707854171765
0.9138732566674823
0.915096647908001
0.8972351357964278
0.918032786885246
0.9214582823586983
0.9087350134573037
0.9248837778321507
0.9464154636652802
0.9402985074626866
0.895033031563494
0.8938096403229754
0.879862980181062
0.8960117445559089
0.9072669439686812
0.9106924394421336
0.9089796917054074
0.935160264252508
0.9344262295081968
0.9432346464399315
0.9341815512600931
0.9535111328602888
0.9307560557866406
0.9535111328602888
0.9486175678982139
0.9794470271592857
0.9762662099339369
0.9713726449718622
0.9691705407389284
0.9784683141668706
0.9992659652556889
0.9941277220455103
0.9899681918277466
1.00195742598483
1.0078297039393198
1.0070956691950086
1.0051382432101785
1.0092977734279422
1.022021042329337
1.0185955468558847
1.0141913383900172
1.0207976510888181
1.040371910937118
1.0489356496207487
1.0489356496207487
1.050648397357475
1.0469782236359189
1.040371910937118
1.0445314411548814
1.0555419623195499
1.0594568142892098
1.0709566919500857
1.0589674577930024
1.0692439442133597
1.074382187423538
1.0780523611450943
1.071690726694397
1.1152434548568633
1.1172008808416931
1.0643503792512847
1.0604355272816248
1.0719354049425007
1.0597014925373136
1.0452654758991926
1.0501590408612675
1.0254465378027893
0.9909469048201616
1.0154147296305358
1.0281379985319306
0.9948617567898214
1.017127477367262
0.9924149743087841
0.9960851480303402
0.9535111328602888
0.9522877416197701
0.9801810619035969
0.9708832884756545
0.9740641057010033
0.9535111328602888
0.9319794470271594
0.9307560557866406
0.9116711524345485
0.9202348911181797
0.8840225103988256
0.9358942989968192
0.9023733790066064
0.9099584046978224
0.9060435527281625
0.9444580376804503
0.9248837778321507
0.9004159530217763
0.9241497430878396
0.9136285784193786
0.8791289454367507
0.8580866160998288
0.8827991191583069
0.8673843895277711
0.8945436750672866
0.8898947883533154
0.8722779544898459
0.8938096403229754
0.899926596525569
0.8982138487888427
0.9153413261561048
0.9082456569610962
0.8955223880597016
0.9087350134573037
0.8886713971127967
0.9214582823586983
0.9004159530217763
0.8659163200391485
0.8553951553706877
0.8441399559579154
0.8382676780034255
0.8500122339124053
0.8925862490824565
0.8928309273305605
0.9089796917054074
0.9170540738928309
0.9471494984095915
0.9439686811842427
0.9466601419133839
0.9124051871788599
0.9133839001712748
0.9273305603131882
0.898947883533154
0.9207242476143872
0.9319794470271594
0.943724002936139
0.9520430633716662
0.9434793246880353
0.9407878639588941
0.9425006116956204
0.974308783949107
0.9610961585515049
0.9659897235135796
0.9655003670173722
0.9461707854171765
0.9317347687790556
0.9165647173966235
0.8837778321507218
0.8847565451431367
0.8774161977000245
0.8818204061658919
0.8769268412038171
0.886469292879863
0.8673843895277711
0.8690971372644973
0.8629801810619038
0.8473207731832642
0.8475654514313679
0.8336187912894544
0.8563738683631026
0.838757034499633
0.8507462686567165
0.8830437974064107
0.8928309273305605
0.9165647173966235
0.8957670663078052
0.9153413261561048
0.9383410814778567
0.9302666992904333
0.9620748715439198
0.9527770981159774
0.9588940543185711
0.9591387325666749
0.9373623684854417
0.963787619280646
0.949596280890629
0.9344262295081968
0.9148519696598973
0.9300220210423293
0.9143626131636897
0.9114264741864448
0.8987032052850501
0.890384144849523
0.9080009787129925
0.9124051871788599
0.928553951553707
0.9346709077563006
0.9258624908245658
0.9209689258624909
0.9307560557866406
0.9464154636652802
0.9334475165157817
0.9070222657205775
0.870320528505016
0.895033031563494
0.8830437974064107
0.8925862490824565
0.8832884756545144
0.8832884756545144
0.868363102520186
0.8715439197455346
0.8793736236848544
0.878884267188647
0.8815757279177882
0.8766821629557132
0.8659163200391485
0.8837778321507218
0.9324688035233668
0.9591387325666749
0.9491069243944213
0.9346709077563006
0.9515537068754588
0.9376070467335454
0.9280645950574994
0.939075116222168
0.9280645950574994
0.9177881086371422
0.9290433080499144
0.9231710300954244
0.9021287007585026
0.8815757279177882
0.8940543185710791
0.8786395889405432
0.8881820406165891
0.8761928064595058
0.8938096403229754
0.9209689258624909
0.9280645950574994
0.9346709077563006
0.9195008563738684
0.9432346464399315
0.9559579153413262
0.9706386102275508
0.9725960362123808
0.9557132370932225
0.9420112551994129
0.9373623684854417
0.9292879862980181
0.9358942989968192
0.9606068020552972
0.9877660875948128
0.9858086616099829
0.9997553217518963
0.9982872522632737
0.9924149743087841
0.9892341570834353
0.9938830437974064
1.021042329336922
1.0357230242231465
1.0484462931245413
1.0433080499143628
1.0234891118179594
1.0178615121115733
1.0225103988255444
1.048690971372645
1.0425740151700513
1.053339858086616
1.04966968436506
1.0252018595546857
1.04966968436506
1.0621482750183509
1.0560313188157573
1.0523611450942012
1.0550526058233423
1.0577440665524835
1.0447761194029852
1.0540738928309275
1.077318326400783
1.0660631269880108
1.0663078052361146
1.0457548323954002
1.0672865182285294
1.0729141179349158
1.0579887448005874
1.067775874724737
1.0922436995351115
1.0915096647908002
1.0981159774896012
1.124296550036702
1.1216050893075606
1.1257646195253241
1.0790310741375093
1.0780523611450943
1.0768289699045754
1.0949351602642525
1.0951798385123563
1.0694886224614633
1.0604355272816248
1.0807438218742356
1.0675311964766334
1.0599461707854172
1.0883288475654513
1.0919990212870077
1.067775874724737
1.0729141179349158
1.0623929532664547
1.0462441888916076
1.0276486420357231
1.0450207976510888
1.0729141179349158
1.0702226572057745
1.0665524834842184
1.0694886224614633
1.072669439686812
1.0756055786640568
1.0780523611450943
1.079275752385613
1.0895522388059702
1.081233178370443
1.0871054563249327
1.0927330560313189
1.098360655737705
1.1233178370442867
1.1176902373379007
1.1044776119402986
1.104966968436506
1.0998287252263275
1.0905309517983852
1.0604355272816248
1.0584781012967948
1.0367017372155616
1.0528505015904086
1.0508930756055788
1.05358453633472
1.0518717885979938
1.064105701003181
1.0729141179349158
1.081233178370443
1.0760949351602642
1.0653290922436995
1.082945926107169
1.0729141179349158
1.065084413995596
1.0621482750183509
1.060190849033521
1.0648397357474921
1.043063371666259
1.0396378761928067
1.0176168338634697
1.0112551994127723
1.0330315634940055
1.0393931979447026
1.0376804502079764
1.017127477367262
1.0034254954734525
0.9985319305113777
0.9968191827746514
1.000978712992415
1.0090530951798387
1.0195742598482995
0.984829948617568
0.9811597748960118
0.9801810619035969
0.9557132370932225
0.9603621238071935
0.9525324198678738
0.9664790800097872
0.9679471494984097
0.9826278443846341
0.9811597748960118
0.9593834108147786
0.9517983851235625
0.9620748715439198
0.9544898458527037
0.964766332273061
0.9596280890628823
0.9449473941766577
0.9312454122828482
0.9405431857107903
0.9324688035233668
0.9537558111083925
0.9655003670173722
0.9865426963542941
0.9735747492047957
0.9623195497920235
0.9804257401517006
0.9667237582578909
0.9356496207487155
0.9346709077563006
0.9400538292145829
0.9574259848299488
0.9486175678982139
0.9449473941766577
0.9584046978223637
0.9718620014680696
1.0034254954734525
1.000978712992415
0.9892341570834353
0.9831172008808418
0.9650110105211647
0.9652556887692686
0.9596280890628823
0.9593834108147786
0.9451920724247616
0.9466601419133839
0.8996819182774652
0.8920968925862491
0.8081722534866651
0.8637142158062148
0.8155126009297774
0.8705652067531197
0.8519696598972352
0.8749694152189871
0.85490579887448
0.8676290677758748
0.8348421825299731
0.81502324443357
0.7927575238561292
0.825299730853927
0.8500122339124053
0.8475654514313679
0.8590653290922438
0.8930756055786642
0.8793736236848544
0.8911181795938342
0.8612674333251775
0.821629557132371
0.7934915586004405
0.8262784438463422
0.794959628089063
0.7611940298507464
0.7692684120381699
0.7709811597748961
0.7783215072180083
0.8022999755321752
0.7932468803523368
0.7709811597748961
0.7651088818204062
0.7198434059212137
0.6943968681184243
0.7019818938096404
0.7509175434303891
0.7489601174455591
0.7230242231465623
0.7448005872277955
0.714705162711035
0.6797161732321997
0.7242476143870811
0.7381942745289944
0.7751406899926597
0.734768779055542
0.7731832640078298
0.7731832640078298
0.7947149498409591
0.7563004648886714
0.76339613408368
0.7428431612429656
0.7866405676535356
0.771959872767311
0.7930022021042329
0.7998531930511378
0.8275018350868608
0.8015659407878639
0.8182040616589186
0.8859799363836556
0.8781502324443358
0.8319060435527282
0.7829703939319795
0.8052361145094201
0.8228529483728898
0.8130658184487399
0.8194274528994373
0.8382676780034255
0.7788108637142158
0.7837044286762908
0.7966723758257892
0.7790555419623196
0.7827257156838757
0.7533643259114265
0.7298752140934671
0.732811353070712
0.7159285539515537
0.7039393197944703
0.6792268167359923
0.6816735992170296
0.6980670418399805
0.6836310252018596
0.7413750917543431
0.7291411793491559
0.773917298752141
0.8020552972840715
0.7954489845852704
0.8137998531930511
0.7712258380229998
0.7942255933447517
0.7668216295571324
0.7489601174455591
0.7540983606557378
0.7602153168583313
0.76339613408368
0.734768779055542
0.7709811597748961
0.7736726205040373
0.800587227795449
0.8035233667726941
0.7905554196231956
0.7815023244433571
0.7998531930511378
0.795938341081478

In [32]:
bbp.bfill()

                 JPM
2010-01-04  0.241528
2010-01-05  0.241528
2010-01-06  0.241528
2010-01-07  0.241528
2010-01-08  0.241528
...              ...
2011-12-23  0.785523
2011-12-27  0.674845
2011-12-28  0.582428
2011-12-29  0.747326
2011-12-30  0.690300

[504 rows x 1 columns]

In [33]:
np.nan

nan

In [34]:
-.2 == np.nan

False

In [35]:
df= pd.DataFrame(0, index=dates, columns=['order type', 'position', 'actual shares'])

In [36]:
df

            order type  position  actual shares
2010-01-04           0         0              0
2010-01-05           0         0              0
2010-01-06           0         0              0
2010-01-07           0         0              0
2010-01-08           0         0              0
...                ...       ...            ...
2011-12-23           0         0              0
2011-12-27           0         0              0
2011-12-28           0         0              0
2011-12-29           0         0              0
2011-12-30           0         0              0

[504 rows x 3 columns]

In [37]:
df2 = df.copy().drop(columns=['order type', 'position'])

In [38]:
df2

            actual shares
2010-01-04              0
2010-01-05              0
2010-01-06              0
2010-01-07              0
2010-01-08              0
...                   ...
2011-12-23              0
2011-12-27              0
2011-12-28              0
2011-12-29              0
2011-12-30              0

[504 rows x 1 columns]

In [39]:
df['order type',3] = 'BUY'
df

            order type  position  actual shares (order type, 3)
2010-01-04           0         0              0             BUY
2010-01-05           0         0              0             BUY
2010-01-06           0         0              0             BUY
2010-01-07           0         0              0             BUY
2010-01-08           0         0              0             BUY
...                ...       ...            ...             ...
2011-12-23           0         0              0             BUY
2011-12-27           0         0              0             BUY
2011-12-28           0         0              0             BUY
2011-12-29           0         0              0             BUY
2011-12-30           0         0              0             BUY

[504 rows x 4 columns]

In [40]:
for index, row in df.iterrows():
        if df.loc[index]['order type'] == 'BUY':
            plt.axvline(x=index, color='g', linestyle='-')
        elif df.loc[index]['order type'] == 'SELL':
            plt.axvline(x=index, color='r', linestyle='-')

In [41]:
v = vertical.index[vertical=='BUY']

NameError: name 'vertical' is not defined

In [42]:
v['order type']

NameError: name 'v' is not defined

In [43]:
for index, row in df.iterrows():
        if v.loc[index]['order type'] == 'BUY':
            plt.axvline(x=index, color='g', linestyle='-')
        elif v.loc[index]['Order'] == 'SELL':
            plt.axvline(x=index, color='r', linestyle='-')

NameError: name 'v' is not defined

In [44]:
sd

datetime.datetime(2010, 1, 1, 0, 0)

In [45]:
dates

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2011-12-16', '2011-12-19', '2011-12-20', '2011-12-21',
               '2011-12-22', '2011-12-23', '2011-12-27', '2011-12-28',
               '2011-12-29', '2011-12-30'],
              dtype='datetime64[ns]', length=504, freq=None)

In [46]:
syms = ['JPM']

prices_all = get_data(syms, dates)  # automatically adds SPY
prices = prices_all[syms]  # only portfolio symbols

In [47]:
prices

              JPM
2010-01-04  40.87
2010-01-05  41.67
2010-01-06  41.89
2010-01-07  42.72
2010-01-08  42.62
...           ...
2011-12-23  32.84
2011-12-27  32.31
2011-12-28  31.94
2011-12-29  32.69
2011-12-30  32.53

[504 rows x 1 columns]

In [48]:
look_back = 14
std = ind.calculate_std(prices, look_back)
sma = ind.calculate_sma(prices, look_back)
pp_sma = ind.calculate_price_per_sma(prices, sma)
pp_sma.columns = ['SMA']
momentum = ind.calculate_momentum(prices, look_back)
momentum.columns = ['Momentum']
bbp, top_band, bottom_band = ind.calculate_BB_data(prices, look_back, sma, std)
bbp.columns = ['BBP']

In [49]:
bbp

                 BBP
2010-01-04       NaN
2010-01-05       NaN
2010-01-06       NaN
2010-01-07       NaN
2010-01-08       NaN
...              ...
2011-12-23  0.807136
2011-12-27  0.672886
2011-12-28  0.612749
2011-12-29  0.797184
2011-12-30  0.748367

[504 rows x 1 columns]

In [50]:
indicators = pd.concat((pp_sma,momentum,bbp),axis=1)
indicators.bfill()
# indicators.fillna(0,inplace=True)
# indicators=indicators[]

                 SMA  Momentum       BBP
2010-01-04  0.903202 -0.084903 -0.147224
2010-01-05  0.903202 -0.084903 -0.147224
2010-01-06  0.903202 -0.084903 -0.147224
2010-01-07  0.903202 -0.084903 -0.147224
2010-01-08  0.903202 -0.084903 -0.147224
...              ...       ...       ...
2011-12-23  1.036640  0.001830  0.807136
2011-12-27  1.020369 -0.006152  0.672886
2011-12-28  1.011697 -0.039687  0.612749
2011-12-29  1.032720  0.037119  0.797184
2011-12-30  1.027503  0.002157  0.748367

[504 rows x 3 columns]

In [51]:
indicators

                 SMA  Momentum       BBP
2010-01-04       NaN       NaN       NaN
2010-01-05       NaN       NaN       NaN
2010-01-06       NaN       NaN       NaN
2010-01-07       NaN       NaN       NaN
2010-01-08       NaN       NaN       NaN
...              ...       ...       ...
2011-12-23  1.036640  0.001830  0.807136
2011-12-27  1.020369 -0.006152  0.672886
2011-12-28  1.011697 -0.039687  0.612749
2011-12-29  1.032720  0.037119  0.797184
2011-12-30  1.027503  0.002157  0.748367

[504 rows x 3 columns]

In [52]:
prices.iloc[10, 'JPM']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [53]:
prices = prices / prices.iloc[0][0]
prices

                 JPM
2010-01-04  1.000000
2010-01-05  1.019574
2010-01-06  1.024957
2010-01-07  1.045265
2010-01-08  1.042819
...              ...
2011-12-23  0.803523
2011-12-27  0.790555
2011-12-28  0.781502
2011-12-29  0.799853
2011-12-30  0.795938

[504 rows x 1 columns]

In [54]:
len(prices)

504

In [55]:
prices.iloc[1]['JPM']

1.0195742598482995

In [56]:
(prices.iloc[15]['JPM'] / prices.iloc[1]['JPM']) + 1

1.8800095992320616

In [57]:
pd.zeros(len(prices))

AttributeError: module 'pandas' has no attribute 'zeros'

In [58]:
prices

                 JPM
2010-01-04  1.000000
2010-01-05  1.019574
2010-01-06  1.024957
2010-01-07  1.045265
2010-01-08  1.042819
...              ...
2011-12-23  0.803523
2011-12-27  0.790555
2011-12-28  0.781502
2011-12-29  0.799853
2011-12-30  0.795938

[504 rows x 1 columns]

In [59]:
ytrain = prices.copy() * 0
ytrain

            JPM
2010-01-04  0.0
2010-01-05  0.0
2010-01-06  0.0
2010-01-07  0.0
2010-01-08  0.0
...         ...
2011-12-23  0.0
2011-12-27  0.0
2011-12-28  0.0
2011-12-29  0.0
2011-12-30  0.0

[504 rows x 1 columns]

In [60]:
ytrain.iloc[3, :] = 69

In [61]:
ytrain

             JPM
2010-01-04   0.0
2010-01-05   0.0
2010-01-06   0.0
2010-01-07  69.0
2010-01-08   0.0
...          ...
2011-12-23   0.0
2011-12-27   0.0
2011-12-28   0.0
2011-12-29   0.0
2011-12-30   0.0

[504 rows x 1 columns]

In [62]:
ytrain.values

array([[ 0.],
       [ 0.],
       [ 0.],
       [69.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.],
       [ 0.]])

In [63]:
prices.iloc[4, :] = 1.09

In [64]:
prices.iloc[4, :]

JPM    1.09
Name: 2010-01-08 00:00:00, dtype: float64

In [65]:
type(indicators)

pandas.core.frame.DataFrame

In [66]:
type(indicators[:])

pandas.core.frame.DataFrame

In [67]:
prices_all

               SPY    JPM
2010-01-04  108.27  40.87
2010-01-05  108.56  41.67
2010-01-06  108.64  41.89
2010-01-07  109.10  42.72
2010-01-08  109.46  42.62
...            ...    ...
2011-12-23  125.19  32.84
2011-12-27  125.29  32.31
2011-12-28  123.64  31.94
2011-12-29  124.92  32.69
2011-12-30  124.31  32.53

[504 rows x 2 columns]

In [68]:
prices.shape[0]-1

503

In [69]:
prices_all.values[10,:]

array([109.93,  41.28])

In [70]:
prices_all.loc[:]=0

In [71]:
prices_all

            SPY  JPM
2010-01-04  0.0  0.0
2010-01-05  0.0  0.0
2010-01-06  0.0  0.0
2010-01-07  0.0  0.0
2010-01-08  0.0  0.0
...         ...  ...
2011-12-23  0.0  0.0
2011-12-27  0.0  0.0
2011-12-28  0.0  0.0
2011-12-29  0.0  0.0
2011-12-30  0.0  0.0

[504 rows x 2 columns]

In [72]:
prices

                 JPM
2010-01-04  1.000000
2010-01-05  1.019574
2010-01-06  1.024957
2010-01-07  1.045265
2010-01-08  1.090000
...              ...
2011-12-23  0.803523
2011-12-27  0.790555
2011-12-28  0.781502
2011-12-29  0.799853
2011-12-30  0.795938

[504 rows x 1 columns]

In [73]:
prices[:-5]

                 JPM
2010-01-04  1.000000
2010-01-05  1.019574
2010-01-06  1.024957
2010-01-07  1.045265
2010-01-08  1.090000
...              ...
2011-12-16  0.763396
2011-12-19  0.734769
2011-12-20  0.770981
2011-12-21  0.773673
2011-12-22  0.800587

[499 rows x 1 columns]

In [74]:
indicators

                 SMA  Momentum       BBP
2010-01-04       NaN       NaN       NaN
2010-01-05       NaN       NaN       NaN
2010-01-06       NaN       NaN       NaN
2010-01-07       NaN       NaN       NaN
2010-01-08       NaN       NaN       NaN
...              ...       ...       ...
2011-12-23  1.036640  0.001830  0.807136
2011-12-27  1.020369 -0.006152  0.672886
2011-12-28  1.011697 -0.039687  0.612749
2011-12-29  1.032720  0.037119  0.797184
2011-12-30  1.027503  0.002157  0.748367

[504 rows x 3 columns]

In [75]:
indicators[:-5]

                 SMA  Momentum       BBP
2010-01-04       NaN       NaN       NaN
2010-01-05       NaN       NaN       NaN
2010-01-06       NaN       NaN       NaN
2010-01-07       NaN       NaN       NaN
2010-01-08       NaN       NaN       NaN
...              ...       ...       ...
2011-12-16  0.998994  0.093586  0.494246
2011-12-19  0.956957  0.074803  0.180723
2011-12-20  1.001362  0.039934  0.510598
2011-12-21  1.000723  0.061074  0.506422
2011-12-22  1.032991  0.034461  0.778151

[499 rows x 3 columns]

In [76]:
type(indicators)

pandas.core.frame.DataFrame

In [79]:
from scipy import stats

In [86]:
stats.mode(prices)

ModeResult(mode=array([[1.07291412]]), count=array([[5]]))