In [1]:
import pandas as pd
import numpy as np

In [2]:
class DTLearner:
    def __init__(leaf_size = 1, verbose = False):
        self.leaf_size = leaf_size
        self.verbose = verbose
        pass
    def train(x,y):
        pass
    def query(x):
        pass

In [3]:
df = pd.read_csv('Data/Istanbul.csv', header = None, skiprows=1)  
df = df.drop(columns=0)

In [4]:
df2 = df
df2

,1,2,3,4,5,6,7,8,9
0,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
1,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
3,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
4,0.009860,0.009658,-0.021533,-0.019873,-0.012710,-0.004474,-0.009764,-0.010989,-0.007802
...,...,...,...,...,...,...,...,...,...
531,0.008599,0.013400,0.006238,0.001925,0.007952,0.005717,0.018371,0.006975,0.003039
532,0.009310,0.015977,0.003071,-0.001186,0.000345,0.002620,0.001686,-0.000581,0.001039
533,0.000191,-0.001653,0.001923,0.002872,-0.000723,0.000568,0.005628,0.000572,0.006938
534,-0.013069,-0.013706,-0.020742,-0.014239,-0.011275,0.001358,-0.011942,-0.012615,-0.000958
535,-0.007246,-0.019442,0.000000,-0.000473,-0.002997,-0.017920,-0.012252,-0.005465,-0.014297

In [5]:
# here's how to get the last column
df2.iloc[:,-1:]

            9
0    0.028524
1    0.008773
2   -0.020015
3   -0.019424
4   -0.007802
..        ...
531  0.003039
532  0.001039
533  0.006938
534 -0.000958
535 -0.014297

[536 rows x 1 columns]

In [6]:
best_correlation = -10000
for col_data in df2.columns[:-1]:
    print('col data', col_data)
    correlation = df2[col_data].corr(df2[df2.columns[-1]])
    if abs(correlation) > best_correlation:
        best_correlation = correlation
    print(df2[col_data].corr(df2[df2.columns[-1]]))
print('best is ', best_correlation)

col data 1
0.6002952779745133
col data 2
0.7019537908167133
col data 3
0.5282432012738653
col data 4
0.6651624791060335
col data 5
0.6875434030528024
col data 6
0.5472879690040532
col data 7
0.6880735475385332
col data 8
0.7165016749061555
best is  0.7165016749061555

In [7]:
arr = df2.to_numpy()
arr.astype(np.float)

array([[ 0.03575371,  0.03837619, -0.00467931, ...,  0.03119023,
         0.01269804,  0.02852446],
       [ 0.02542587,  0.03181274,  0.00778674, ...,  0.01891958,
         0.01134065,  0.00877264],
       [-0.02886173, -0.02635297, -0.03046913, ..., -0.03589858,
        -0.0170728 , -0.02001541],
       ...,
       [ 0.00019097, -0.0016526 ,  0.00192291, ...,  0.00562792,
         0.00057157,  0.00693787],
       [-0.01306904, -0.01370599, -0.02074215, ..., -0.01194168,
        -0.01261533, -0.00095774],
       [-0.00724632, -0.01944185,  0.        , ..., -0.01225155,
        -0.00546489, -0.01429693]])

In [8]:
# for i in arr.T[:-1]:
#     #print(i.shape, arr[:,1].shape)
#     a = np.corrcoef(i, y=arr[:,-1])
    
#     #print(np.corrcoef(i, y=arr[:,-1]))
#     print(a[0][1])
t = arr.T
best_correlation = -10000
idx= -1
for i in range(t.shape[0] -1):
    #print(i.shape, arr[:,1].shape)
    a = np.corrcoef(t[i], y=arr[:,-1])
    
    if abs(correlation) > best_correlation:
        best_correlation = correlation
        idx = i

In [9]:
best_correlation

0.7165016749061555

In [10]:
idx

0

In [11]:
median = np.median(t[idx])
median

0.002188758

In [12]:
m2 = np.median(arr[:,idx])
m2

0.002188758

In [13]:
z = arr[arr[:,idx]<=median]

In [14]:
z.shape

(268, 9)

In [15]:
z

array([[-0.02886173, -0.02635297, -0.03046913, ..., -0.03589858,
        -0.0170728 , -0.02001541],
       [-0.06220808, -0.0847159 ,  0.00339136, ...,  0.02828315,
        -0.00556096, -0.01942378],
       [-0.02919103, -0.04236115, -0.02282263, ..., -0.05384947,
        -0.01245126, -0.02262974],
       ...,
       [ 0.00019097, -0.0016526 ,  0.00192291, ...,  0.00562792,
         0.00057157,  0.00693787],
       [-0.01306904, -0.01370599, -0.02074215, ..., -0.01194168,
        -0.01261533, -0.00095774],
       [-0.00724632, -0.01944185,  0.        , ..., -0.01225155,
        -0.00546489, -0.01429693]])

In [16]:
y = arr[arr[:,idx]>median]

In [17]:
y.shape

(268, 9)

In [18]:
d = pd.DataFrame(y)

In [19]:
d.head()

,0,1,2,3,4,5,6,7,8
0,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
1,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2,0.009860,0.009658,-0.021533,-0.019873,-0.012710,-0.004474,-0.009764,-0.010989,-0.007802
3,0.015445,-0.000272,0.001757,-0.017674,-0.006141,0.000000,0.003572,-0.012220,-0.004827
4,0.022037,0.032278,0.007533,0.006791,0.006289,0.025453,0.004867,0.008561,0.010917

In [20]:
y

array([[ 0.03575371,  0.03837619, -0.00467931, ...,  0.03119023,
         0.01269804,  0.02852446],
       [ 0.02542587,  0.03181274,  0.00778674, ...,  0.01891958,
         0.01134065,  0.00877264],
       [ 0.00985991,  0.00965811, -0.02153321, ..., -0.00976388,
        -0.01098863, -0.00780221],
       ...,
       [ 0.00360638,  0.00089272, -0.0032402 , ..., -0.00326564,
        -0.00054988, -0.00143045],
       [ 0.00859906,  0.0133999 ,  0.00623799, ...,  0.01837079,
         0.00697461,  0.00303899],
       [ 0.00931031,  0.0159772 ,  0.00307089, ...,  0.00168569,
        -0.00058051,  0.00103859]])

In [21]:
y[0]

array([ 0.03575371,  0.03837619, -0.00467931,  0.00219342,  0.00389438,
        0.        ,  0.03119023,  0.01269804,  0.02852446])

In [22]:
np.min(y[:,0])

0.002192959

In [23]:
np.max(z[:,0])

0.002184557

In [24]:
a = np.empty((0,3))
a

array([], shape=(0, 3), dtype=float64)

In [25]:
arr2 = np.array([[1, 2, 3], [4, 5, 6]])
arr2.shape

(2, 3)

In [26]:
a = np.append(a, arr2)

In [27]:
a

array([1., 2., 3., 4., 5., 6.])

In [28]:
a.shape

(6,)

In [35]:
em = np.empty((0,5))
em

array([], shape=(0, 5), dtype=float64)

In [36]:
arr2 = np.array([[1, 2, 3, 9, 49], [4, 5, 6, 69, 12]])

In [37]:
arr2

array([[ 1,  2,  3,  9, 49],
       [ 4,  5,  6, 69, 12]])

In [38]:
arr2.shape

(2, 5)

In [40]:
em = np.vstack((em, arr2))

In [34]:
em

array([[ 1.,  2.,  3.,  9., 49.],
       [ 4.,  5.,  6., 69., 12.]])

In [41]:
em.shape

(2, 5)

In [42]:
arr3 = np.array([[8, 45, 33, 93, 49]])

In [43]:
em = np.vstack((em, arr3))

In [44]:
em

array([[ 1.,  2.,  3.,  9., 49.],
       [ 4.,  5.,  6., 69., 12.],
       [ 8., 45., 33., 93., 49.]])

In [72]:
root = np.array([2,.11,1,8])

In [73]:
root

array([2.  , 0.11, 1.  , 8.  ])

In [74]:
root.shape

(4,)

In [75]:
root = np.vstack((root, [2,3,4,5],[4,5,6,7]))

In [76]:
root

array([[2.  , 0.11, 1.  , 8.  ],
       [2.  , 3.  , 4.  , 5.  ],
       [4.  , 5.  , 6.  , 7.  ]])

In [77]:
root.shape

(3, 4)

In [79]:
x = np.array([[1,2,3],[4,5,7]])
x

array([[1, 2, 3],
       [4, 5, 7]])

In [80]:
y = np.array([[2],[5]])

In [81]:
y

array([[2],
       [5]])

In [82]:
data = np.append(x,y,axis=1)

In [83]:
data

array([[1, 2, 3, 2],
       [4, 5, 7, 5]])

In [133]:
c = np.zeros((30,2))
c.shape

(30, 2)

In [134]:
b = np.zeros((30,))
b.shape

(30,)

In [135]:
b

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [136]:
c

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [137]:
b.shape

(30,)

In [138]:
c.shape

(30, 2)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [121]:
df = pd.DataFrame(b)
df

      0
0   0.0
1   0.0
2   0.0
3   0.0
4   0.0
5   0.0
6   0.0
7   0.0
8   0.0
9   0.0
10  0.0
11  0.0
12  0.0
13  0.0
14  0.0
15  0.0
16  0.0
17  0.0
18  0.0
19  0.0
20  0.0
21  0.0
22  0.0
23  0.0
24  0.0
25  0.0
26  0.0
27  0.0
28  0.0
29  0.0

In [139]:
d = np.append(c,b,1)

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 1 dimension(s)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0.])

In [132]:
df = pd.DataFrame(d)
df

      0
0   0.0
1   0.0
2   0.0
3   0.0
4   0.0
..  ...
85  0.0
86  0.0
87  0.0
88  0.0
89  0.0

[90 rows x 1 columns]

In [140]:
b

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [141]:
c

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [142]:
d = np.column_stack((b,c))

In [143]:
d

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [158]:
y = np.empty(0)
y

array([], dtype=float64)

In [159]:
y = np.append(y, 1)

In [160]:
y

array([1.])

In [161]:
y = np.append(y, 9)

In [162]:
y

array([1., 9.])

In [163]:
a = np.NAN
a

nan

In [164]:
a == np.NAN

False

In [165]:
a is np.NAN

True

In [166]:
a = np.array([1])
a[0]

1

In [167]:
a[0] is np.NAN

False

In [168]:
arr

array([[ 0.03575371,  0.03837619, -0.00467931, ...,  0.03119023,
         0.01269804,  0.02852446],
       [ 0.02542587,  0.03181274,  0.00778674, ...,  0.01891958,
         0.01134065,  0.00877264],
       [-0.02886173, -0.02635297, -0.03046913, ..., -0.03589858,
        -0.0170728 , -0.02001541],
       ...,
       [ 0.00019097, -0.0016526 ,  0.00192291, ...,  0.00562792,
         0.00057157,  0.00693787],
       [-0.01306904, -0.01370599, -0.02074215, ..., -0.01194168,
        -0.01261533, -0.00095774],
       [-0.00724632, -0.01944185,  0.        , ..., -0.01225155,
        -0.00546489, -0.01429693]])

In [169]:
arr.shape

(536, 9)

In [171]:
len(arr[:,4])

536

In [173]:
np.mean(arr[:,-1])

0.0009359355858208956

In [175]:
z = np.empty_like(arr)
z.shape

(536, 9)

In [176]:
z[:] = arr

In [177]:
z

array([[ 0.03575371,  0.03837619, -0.00467931, ...,  0.03119023,
         0.01269804,  0.02852446],
       [ 0.02542587,  0.03181274,  0.00778674, ...,  0.01891958,
         0.01134065,  0.00877264],
       [-0.02886173, -0.02635297, -0.03046913, ..., -0.03589858,
        -0.0170728 , -0.02001541],
       ...,
       [ 0.00019097, -0.0016526 ,  0.00192291, ...,  0.00562792,
         0.00057157,  0.00693787],
       [-0.01306904, -0.01370599, -0.02074215, ..., -0.01194168,
        -0.01261533, -0.00095774],
       [-0.00724632, -0.01944185,  0.        , ..., -0.01225155,
        -0.00546489, -0.01429693]])

In [178]:
z.shape

(536, 9)

In [180]:
np.delete(z, 3, 1).shape

(536, 8)

In [181]:
a = np.array([np.NAN, 1, np.NAN, np.NAN])

In [182]:
a

array([nan,  1., nan, nan])

In [184]:
a.shape

(4,)

In [185]:
a = np.array([[np.NAN, 1, np.NAN, np.NAN]])

In [186]:
a.shape

(1, 4)

In [187]:
a = np.array([1,2,3,4,5])
a

array([1, 2, 3, 4, 5])

In [191]:
np.median(a)

5.5

In [189]:
a.shape

(5,)

In [190]:
a = np.array([6,5,6,5,6,5,6,5,6,5,6,5])

In [192]:
arr

array([[ 0.03575371,  0.03837619, -0.00467931, ...,  0.03119023,
         0.01269804,  0.02852446],
       [ 0.02542587,  0.03181274,  0.00778674, ...,  0.01891958,
         0.01134065,  0.00877264],
       [-0.02886173, -0.02635297, -0.03046913, ..., -0.03589858,
        -0.0170728 , -0.02001541],
       ...,
       [ 0.00019097, -0.0016526 ,  0.00192291, ...,  0.00562792,
         0.00057157,  0.00693787],
       [-0.01306904, -0.01370599, -0.02074215, ..., -0.01194168,
        -0.01261533, -0.00095774],
       [-0.00724632, -0.01944185,  0.        , ..., -0.01225155,
        -0.00546489, -0.01429693]])

In [193]:
arr.shape

(536, 9)

In [195]:
b = arr.shape[1]
b

9

In [202]:
np.random.randint(low=0,high=9)

3

In [204]:
arr[:,8]

array([ 2.8524462e-02,  8.7726440e-03, -2.0015412e-02, -1.9423778e-02,
       -7.8022120e-03, -2.2629745e-02, -4.8271380e-03, -8.6766460e-03,
       -2.3428729e-02,  1.0916893e-02, -4.0290040e-03, -2.4107193e-02,
       -5.0922420e-03, -3.2272490e-03, -8.0773190e-03,  1.0319685e-02,
        6.3444980e-03,  2.2104103e-02,  4.0869700e-04,  2.2425390e-03,
       -1.9091385e-02,  1.2718686e-02,  1.5165589e-02,  2.0725050e-03,
        3.2338114e-02,  7.8953940e-03, -2.1390950e-03, -7.9259970e-03,
       -1.4772748e-02,  1.7764444e-02, -6.8504410e-03, -3.8322771e-02,
       -3.3422610e-03,  6.7644980e-03, -2.7294442e-02,  9.6778700e-03,
       -1.1881112e-02,  6.0993640e-03, -2.3311640e-03, -6.1501310e-03,
       -3.5364882e-02,  1.2903070e-03,  3.0311506e-02, -8.6718380e-03,
       -2.0976470e-03, -5.5583640e-03,  2.4909954e-02,  1.2815720e-02,
        5.4194750e-03,  1.8689238e-02,  1.0253879e-02,  2.6886910e-03,
        6.0125060e-03,  9.8472740e-03, -6.6543520e-03,  4.4121571e-02,
        2.2960450e-03,  8.3096520e-03,  1.6417645e-02, -6.7308610e-03,
       -3.8564463e-02,  7.8342210e-03,  1.5339491e-02,  3.8506193e-02,
        4.3115210e-03,  4.1919310e-03, -5.5658620e-03, -7.5010840e-03,
        2.7695855e-02,  5.3859960e-03,  5.8796360e-03,  7.4141130e-03,
        2.7112800e-03,  2.4386900e-03, -5.5259220e-03, -8.3578480e-03,
       -7.2765740e-03, -9.6667200e-04,  2.2915147e-02, -1.8736720e-02,
       -1.3223984e-02,  2.5812429e-02,  1.6444765e-02,  4.7804531e-02,
        4.0358260e-03,  1.1737376e-02, -2.4674100e-03,  1.0330863e-02,
       -5.5793550e-03, -2.2450180e-03, -1.0673606e-02, -1.1305019e-02,
        8.1604910e-03,  2.7348038e-02,  2.3405287e-02, -1.7031881e-02,
        2.1300800e-03,  8.4148300e-04, -5.3314990e-03,  1.6360679e-02,
        8.5828940e-03,  7.7607510e-03,  2.9978301e-02, -6.6305410e-03,
       -1.3026704e-02, -1.2836520e-03,  7.1952010e-03, -1.0536916e-02,
       -5.1488880e-03,  1.9623396e-02,  2.8885940e-03, -2.1802220e-03,
       -2.1109333e-02, -9.4526940e-03, -1.3276347e-02, -9.8276680e-03,
        7.5049720e-03, -1.1895017e-02, -1.4676581e-02,  1.6991546e-02,
        1.3359036e-02,  9.8960250e-03,  3.0092710e-03, -6.9320940e-03,
        1.1049660e-02, -4.8370230e-03,  8.6407400e-04, -1.3954751e-02,
       -2.3886980e-03, -7.9451760e-03,  3.5460830e-03, -3.4568860e-03,
       -1.3401351e-02,  1.6832183e-02,  2.7435226e-02,  6.0221860e-03,
        1.0282347e-02,  2.3092409e-02,  1.5261310e-03, -4.7101160e-03,
        1.6398626e-02,  3.7121470e-03,  9.2793970e-03,  3.4953230e-03,
       -1.3102375e-02,  1.0000404e-02,  1.0755726e-02,  1.6159052e-02,
       -3.3486350e-03, -4.8601920e-03,  1.6241730e-03, -2.6214740e-03,
        4.1962700e-03, -6.1165710e-03, -6.3977620e-03,  1.3275554e-02,
       -1.4268940e-03, -2.9772410e-02,  2.8530290e-03, -3.3500040e-03,
        1.3296568e-02,  6.8128720e-03,  1.6065598e-02, -1.4647000e-03,
       -1.9992120e-03, -6.4736570e-03,  5.0249770e-03, -1.2832464e-02,
        3.5967360e-03, -8.3209490e-03,  8.1171620e-03,  9.7020450e-03,
        1.0025827e-02,  1.3928806e-02, -2.7460530e-03,  9.2336710e-03,
        3.6062540e-03, -8.4051980e-03,  8.3231680e-03,  1.5813252e-02,
        5.7615810e-03,  4.1240200e-04, -4.0044960e-03, -1.0152977e-02,
       -5.9241000e-04, -3.1916720e-03,  8.9619240e-03, -7.4382300e-04,
       -3.2330470e-03, -8.7413000e-03,  1.9919380e-03,  1.3076211e-02,
        4.2959810e-03,  7.6959800e-03,  6.1762620e-03,  4.3436610e-03,
        4.4800000e-05,  1.6426627e-02,  1.7767090e-03, -6.1992400e-03,
        1.0830679e-02, -3.2481570e-03, -2.4971660e-03, -5.0116150e-03,
        3.9199970e-03,  2.5568600e-04, -1.4859632e-02, -2.5950650e-02,
       -6.0250000e-03, -1.5357580e-03, -7.3530450e-03,  1.8558259e-02,
        2.3635800e-03,  4.1299330e-03,  1.7839994e-02,  4.4110330e-03,
        7.9785840e-03, -1.0681845e-02,  2.9166710e-03,  1.5692940e-02,
        9.1743700e-04, -1.7843460e-03, -5.4479130e-03, -3.1167930e-03,
        7.9849550e-03, -4.3663850e-03,  4.2116320e-03, -4.4156350e-03,
        5.9855340e-03,  3.0236680e-03, -7.4600000e-05,  4.0313700e-04,
       -6.0069250e-03, -4.4785450e-03,  3.1913540e-03,  5.5243480e-03,
        4.3251800e-03, -3.2269270e-03, -1.7441630e-03, -9.6051130e-03,
       -3.6792240e-03, -3.7709280e-03,  9.2370220e-03,  7.8035150e-03,
        4.7806220e-03,  3.4036900e-04,  4.1420790e-03, -1.9054200e-04,
        3.4084900e-04,  6.8544900e-03,  8.3990100e-03,  8.0667400e-03,
        5.3296200e-03, -6.3746550e-03,  1.2292530e-03,  5.4473720e-03,
       -3.7292030e-03, -7.2634520e-03,  2.3126790e-03, -2.0564520e-03,
        1.7253960e-03,  2.1186340e-03, -9.0507560e-03, -1.4855548e-02,
       -1.2384604e-02, -4.1436340e-03, -1.7437655e-02, -7.2753560e-03,
        1.0577309e-02, -6.3147580e-03,  1.8169170e-03,  1.1540040e-03,
        1.1540842e-02, -1.9774104e-02, -2.7290000e-02, -3.8095340e-03,
        1.2960538e-02,  3.3369980e-03,  1.1111300e-02, -2.3541580e-03,
        2.2962930e-03,  5.9473440e-03,  1.0310325e-02, -2.3261620e-03,
       -8.2352510e-03,  8.0188180e-03, -1.8261450e-03, -6.3946270e-03,
       -6.9276620e-03,  7.7457930e-03,  1.1574976e-02,  8.2837400e-03,
        3.7119960e-03, -4.0674710e-03,  1.0645201e-02,  9.7562690e-03,
        1.2884320e-03,  2.8521830e-03, -2.2851290e-03,  2.8200000e-05,
       -7.5400200e-03,  6.6789350e-03,  1.1753411e-02, -1.1850800e-04,
       -1.7471530e-03, -5.9585800e-03,  2.0491520e-03, -2.8002300e-04,
       -3.3200000e-05,  4.2335820e-03,  6.6570040e-03,  3.3224910e-03,
       -1.5373990e-03,  1.3451580e-02,  1.2291910e-03,  4.4522190e-03,
        2.9491780e-03,  3.1247760e-03, -3.6274600e-03,  3.9424230e-03,
       -5.1791590e-03, -3.7993750e-03,  7.5073310e-03,  5.0800000e-06,
       -1.2591087e-02, -1.5519306e-02,  8.9430000e-03,  2.5156980e-03,
       -3.1796460e-03,  8.7683590e-03, -1.1889142e-02, -9.7229410e-03,
        2.9710640e-03,  4.1646990e-03, -7.5868660e-03, -1.2506440e-02,
       -1.3384167e-02, -1.3554059e-02, -1.4724997e-02,  2.5317649e-02,
       -6.5663750e-03,  7.1674100e-03,  5.7799770e-03, -1.1049522e-02,
       -1.3753547e-02, -2.4190640e-03, -3.6374727e-02,  1.1243900e-03,
        5.1101200e-03, -2.7590293e-02,  2.1561990e-02,  1.7184219e-02,
        7.1759840e-03,  1.1325081e-02, -1.5882222e-02,  3.4443050e-03,
        1.1455399e-02, -6.2334920e-03, -1.5968381e-02,  7.2362900e-04,
        1.7334000e-03,  1.0020454e-02,  8.7738700e-03,  7.8778990e-03,
        7.1884070e-03,  3.3326110e-03,  2.6063710e-03,  2.1347840e-03,
        1.7326939e-02, -6.9127940e-03, -2.0683450e-03, -6.7167060e-03,
       -2.3107320e-03,  5.3971000e-04, -2.1032886e-02, -6.9621820e-03,
       -6.8196750e-03,  5.1391700e-04, -9.2697400e-04,  1.5586943e-02,
        9.8697900e-04,  7.5051030e-03,  8.6059120e-03,  2.2280340e-03,
        3.9105110e-03,  3.6162720e-03, -4.8701610e-03, -6.4727790e-03,
        1.0505200e-04,  7.1966940e-03,  8.8801240e-03,  6.1886300e-03,
        7.3364150e-03,  2.3044610e-03,  2.0069690e-03,  7.7241700e-04,
        1.4322710e-03, -3.2949770e-03,  1.5749215e-02, -2.4982590e-03,
        1.5739900e-03, -6.4004900e-04, -1.8461390e-03,  3.6115270e-03,
       -9.9664020e-03, -1.4113080e-02, -5.3188780e-03,  4.7252680e-03,
        3.2664430e-03,  4.8058490e-03,  1.3057700e-04,  1.1387500e-03,
       -2.4962440e-03, -1.4684600e-03, -9.7305800e-03, -9.6624370e-03,
       -7.5537600e-04,  5.0807610e-03,  2.0054100e-03,  1.4404659e-02,
        3.6541030e-03,  5.0497740e-03,  7.3140740e-03, -1.8965650e-03,
       -3.6414650e-03,  2.2418509e-02,  1.6577500e-04,  3.3231940e-03,
       -4.8825820e-03,  3.1067360e-03,  6.7711260e-03,  7.9196100e-04,
        3.1816900e-04, -2.3788900e-04,  1.3771450e-03,  5.5335770e-03,
       -9.6579000e-04,  6.1452590e-03,  3.5122100e-03,  5.1749240e-03,
        4.9254640e-03,  3.4817820e-03,  4.9542630e-03, -5.2921310e-03,
        9.7749700e-04,  3.2263810e-03, -4.0851440e-03,  1.1802246e-02,
        5.0348550e-03, -3.1618030e-03, -5.2279740e-03, -6.0337200e-03,
        4.4237500e-04,  4.9848670e-03,  8.9200000e-05,  6.8811870e-03,
        2.8301170e-03, -1.0151847e-02,  1.4253551e-02,  4.6551600e-04,
        5.9921720e-03,  1.0736761e-02,  4.1655550e-03,  3.1281960e-03,
       -1.6442940e-03, -2.2212120e-03, -7.6525580e-03, -1.1377315e-02,
       -1.4390760e-03, -1.8275090e-03, -1.5299989e-02,  5.5902220e-03,
        3.6689700e-04, -9.0881370e-03,  5.4317200e-04, -4.9979130e-03,
        1.5463595e-02,  1.1647698e-02,  2.1337190e-03,  2.9512060e-03,
        1.0685240e-03, -7.6495490e-03,  9.6820700e-04, -8.9223600e-04,
        5.1501310e-03,  2.9709050e-03, -5.4336990e-03, -5.2807880e-03,
        3.6264230e-03, -3.5649930e-03,  9.4688990e-03,  1.3269800e-03,
       -2.0793700e-04, -2.4748510e-03, -2.4166890e-03, -1.9552700e-04,
        7.8614660e-03,  3.3135800e-03,  2.7893870e-03,  8.1676700e-03,
        4.2387550e-03, -1.1801170e-03, -2.6460260e-03, -6.8197100e-03,
       -6.7086800e-03,  4.7726140e-03,  1.1872228e-02, -2.1093220e-03,
        2.3762000e-04, -4.5367070e-03,  2.4058770e-03,  1.0857680e-03,
       -1.0442022e-02, -6.8535210e-03, -1.1447550e-03, -8.8548900e-04,
        5.0185250e-03, -1.1489030e-03, -9.9119190e-03, -5.7887190e-03,
        6.2238650e-03,  3.6313220e-03,  4.7605500e-04, -3.1849350e-03,
       -3.3457200e-03, -4.4989940e-03, -1.4248555e-02, -1.4759632e-02,
        3.9308820e-03,  1.3448054e-02, -1.4304470e-03,  3.0389860e-03,
        1.0385850e-03,  6.9378730e-03, -9.5773600e-04, -1.4296931e-02])